
<div class="audio">
  <audio autoplay id="audio-player" src="audios/mr_trololo.mp3" type="audio/mp3" ></audio>
</div>

<div class="show_background" style="background-image: url(<%= asset_path 'clouds.svg' %>)"%>



<div class="links">
  <div class="wikis">
    <% if @links %> 
      <%= render partial: 'links/index', locals: {links: @links} %>
    <% else %>
      <%= render partial: 'links/show_wikis', locals: {links: @wikis} %>
      <% end %>
  </div>
</div>

 <%= form_tag('/final_wiki', method: :get) do %>
    <%= submit_tag("Done?! See where you landed!") %>
  <% end %> 


